.spread-container {
  /* width: 930.3px;
  height: 698px; */

  margin: auto;
}


.spread {
  position:relative;
  width: 930.3px;
  height: 673.2px;
  object-fit: contain;
  border-radius: 27px;
  border: solid 1px #d8d8d8;
  background-color: #fbfbfb;
  padding: 2em;
  margin: auto;
}

.spread:after {
  content:"";
  position: absolute;
/*     z-index: -1; */
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid #d8d8d8;
  transform: translate(-50%);
}
.grid-item.left-page{
  padding-left:1em;
  padding-right:3em;
}
.grid-item.right-page{
  padding-left:3em;
  padding-right:1em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-item {
/*     border: 1px solid #000; */
  margin: 0;
}

.button-new-page {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 81.9px;
  height: 82.7px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  /* box-shadow: 10px 0 80px 0 #0000000d; */
  border-top: solid 1px #d8d8d8;
  border-left: solid 1px #d8d8d8;
  border-top-left-radius: 27px;
  /* background-color: var(--paper-white); */
  background: linear-gradient(to top left, #ffffff00 calc(50% - 0.5px), #d8d8d8, #ffffff00 calc(50% + 0.5px) )
}

.header {
  font-size: 2em;
  line-height: 1.5em;
}

.entry {
  font-size: 1em;
  line-height: 1.5em;
  padding-left: 1em;
}
