.overview-container {
  width: 700px;
  height: 500px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.button-container {
  display: flex;
  justify-content: space-around;
}